<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>" class="h-full bg-gray-50"><!--<![endif]-->
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="We help you become a business owner. We are your right hand in day to day operations, we make things easier and help you find success.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%# stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# render "shared/favicon" %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
    <head data-hook="inside_head">
      <%= render partial: 'spree/shared/head' %>
    </head>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/get_started' %>
    <%= render partial: 'spree/shared/header' %>
    <%= flash_messages %>
    <main class="col-12" id="content" data-hook>
      <%= yield :templates %>
    </main>
    <%= render partial: 'spree/shared/footer' %>
    <%= render 'spree/shared/translations' %>
  </body>
</html>
